table{
    width: 400px;
    height: 400px;
    border: solid red 1px;
    border-collapse: collapse;

}

#blackbox {
    background-color: black;
    width: 50px;
    height: 50px;
}
#whitebox {
    background-color: white;
    width: 50px;
    height: 50px;
}


                              /* style for chess board */



#chessboard {
    width: 400px;
    height: 400px;
    border: solid red 1px;
    border-collapse: collapse;

}
.blackbox {
    background-color: black;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
}
.whitebox {
    background-color: gray;
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50px;
}
.blackbox:hover {
    background-color: red;
}
.whitebox:hover{
    background-color: blue;
}


